<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
 
<description/>
<display-name>AddCallServlet</display-name>
<servlet-name>AddCallServlet</servlet-name>
<servlet-class>controller.AddCallServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddCallServlet</servlet-name>
<url-pattern>/AddCallServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AddQueryServlet</display-name>
<servlet-name>AddQueryServlet</servlet-name>
<servlet-class>controller.AddQueryServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddQueryServlet</servlet-name>
<url-pattern>/AddQueryServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AdminServlet</display-name>
<servlet-name>AdminServlet</servlet-name>
<servlet-class>controller.AdminServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminServlet</servlet-name>
<url-pattern>/AdminServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CallCenterServlet3</display-name>
<servlet-name>CallCenterServlet3</servlet-name>
<servlet-class>controller.CallCenterServlet3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CallCenterServlet3</servlet-name>
<url-pattern>/CallCenterServlet3</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>LoginServlet</display-name>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>controller.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>RegisterServlet</display-name>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>controller.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>ServiceCenterServlet</display-name>
<servlet-name>ServiceCenterServlet</servlet-name>
<servlet-class>controller.ServiceCenterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServiceCenterServlet</servlet-name>
<url-pattern>/ServiceCenterServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>UpdateServlet</display-name>
<servlet-name>UpdateServlet</servlet-name>
<servlet-class>controller.UpdateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateServlet</servlet-name>
<url-pattern>/UpdateServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>UpdateServlet1</display-name>
<servlet-name>UpdateServlet1</servlet-name>
<servlet-class>controller.UpdateServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateServlet1</servlet-name>
<url-pattern>/UpdateServlet1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>UpdateServlet2</display-name>
<servlet-name>UpdateServlet2</servlet-name>
<servlet-class>controller.UpdateServlet2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateServlet2</servlet-name>
<url-pattern>/UpdateServlet2</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>Dao1</display-name>
<servlet-name>Dao1</servlet-name>
<servlet-class>dao.Dao1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Dao1</servlet-name>
<url-pattern>/Dao1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>Dao2</display-name>
<servlet-name>Dao2</servlet-name>
<servlet-class>dao.Dao2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Dao2</servlet-name>
<url-pattern>/Dao2</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>Dao3</display-name>
<servlet-name>Dao3</servlet-name>
<servlet-class>dao.Dao3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Dao3</servlet-name>
<url-pattern>/Dao3</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>Model1</display-name>
<servlet-name>Model1</servlet-name>
<servlet-class>model.Model1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Model1</servlet-name>
<url-pattern>/Model1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>Model2</display-name>
<servlet-name>Model2</servlet-name>
<servlet-class>model.Model2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Model2</servlet-name>
<url-pattern>/Model2</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>Model3</display-name>
<servlet-name>Model3</servlet-name>
<servlet-class>model.Model3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Model3</servlet-name>
<url-pattern>/Model3</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AdminUpdateServlet</display-name>
<servlet-name>AdminUpdateServlet</servlet-name>
<servlet-class>controller.AdminUpdateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminUpdateServlet</servlet-name>
<url-pattern>/AdminUpdateServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CallCenterServlet</display-name>
<servlet-name>CallCenterServlet</servlet-name>
<servlet-class>controller.CallCenterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CallCenterServlet</servlet-name>
<url-pattern>/CallCenterServlet</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CallCenterServlet4</display-name>
<servlet-name>CallCenterServlet4</servlet-name>
<servlet-class>controller.CallCenterServlet4</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CallCenterServlet4</servlet-name>
<url-pattern>/CallCenterServlet4</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CStatusUpdate</display-name>
<servlet-name>CStatusUpdate</servlet-name>
<servlet-class>controller.CStatusUpdate</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CStatusUpdate</servlet-name>
<url-pattern>/CStatusUpdate</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>ServiceCenterServlet1</display-name>
<servlet-name>ServiceCenterServlet1</servlet-name>
<servlet-class>controller.ServiceCenterServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServiceCenterServlet1</servlet-name>
<url-pattern>/ServiceCenterServlet1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AddCallServlet1</display-name>
<servlet-name>AddCallServlet1</servlet-name>
<servlet-class>controller.AddCallServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddCallServlet1</servlet-name>
<url-pattern>/AddCallServlet1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AddQueryServlet1</display-name>
<servlet-name>AddQueryServlet1</servlet-name>
<servlet-class>controller.AddQueryServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddQueryServlet1</servlet-name>
<url-pattern>/AddQueryServlet1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AdminServlet1</display-name>
<servlet-name>AdminServlet1</servlet-name>
<servlet-class>controller.AdminServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminServlet1</servlet-name>
<url-pattern>/AdminServlet1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CallCenterServlet1</display-name>
<servlet-name>CallCenterServlet1</servlet-name>
<servlet-class>controller.CallCenterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CallCenterServlet1</servlet-name>
<url-pattern>/CallCenterServlet1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CallCenterServlet31</display-name>
<servlet-name>CallCenterServlet31</servlet-name>
<servlet-class>controller.CallCenterServlet3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CallCenterServlet31</servlet-name>
<url-pattern>/CallCenterServlet31</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CallCenterServlet41</display-name>
<servlet-name>CallCenterServlet41</servlet-name>
<servlet-class>controller.CallCenterServlet4</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CallCenterServlet41</servlet-name>
<url-pattern>/CallCenterServlet41</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CStatusUpdate1</display-name>
<servlet-name>CStatusUpdate1</servlet-name>
<servlet-class>controller.CStatusUpdate</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CStatusUpdate1</servlet-name>
<url-pattern>/CStatusUpdate1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>LoginServlet1</display-name>
<servlet-name>LoginServlet1</servlet-name>
<servlet-class>controller.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet1</servlet-name>
<url-pattern>/LoginServlet1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>RegisterServlet1</display-name>
<servlet-name>RegisterServlet1</servlet-name>
<servlet-class>controller.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterServlet1</servlet-name>
<url-pattern>/RegisterServlet1</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>ServiceCenterServlet11</display-name>
<servlet-name>ServiceCenterServlet11</servlet-name>
<servlet-class>controller.ServiceCenterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServiceCenterServlet11</servlet-name>
<url-pattern>/ServiceCenterServlet11</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>ServiceCenterServlet111</display-name>
<servlet-name>ServiceCenterServlet111</servlet-name>
<servlet-class>controller.ServiceCenterServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServiceCenterServlet111</servlet-name>
<url-pattern>/ServiceCenterServlet111</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>UpdateServlet11</display-name>
<servlet-name>UpdateServlet11</servlet-name>
<servlet-class>controller.UpdateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateServlet11</servlet-name>
<url-pattern>/UpdateServlet11</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AddCallServlet11</display-name>
<servlet-name>AddCallServlet11</servlet-name>
<servlet-class>controller.AddCallServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddCallServlet11</servlet-name>
<url-pattern>/AddCallServlet11</url-pattern>
</servlet-mapping>
</web-app>